
<form method="POST" action="/add_bank">

        <label for="bank_name">Наименование Банка:</label>
        <input type="text" id="bank_name" name="bank_name" required>
        <br>
        <br>

        <label for="bik">БИК:</label>
        <input type="text" id="bik" name="bik" required>

        <br>
        <br>
        <label for="kor_score">Корреспондентский счёт:</label>
        <input type="text" id="kor_score" name="kor_score" required>

        <br>
        <br>
        <label for="swift">SWIFT:</label>
        <input type="text" id="swift" name="swift" required>

        <br>
        <br>
        <label for="iban">IBAN: (не обязательное полне)</label>
        <input type="text" id="iban" name="iban">

        <br>
        <br>


        <input type="submit" value="Submit">
    </form>
