<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      {% if username%}
      hello :^3 {{username}}
        <a href='/logout'> logout</a>
        <br>
        <a href='/add_bank'>Add</a>
<form method="POST" action="/">
   <input type="submit" value="Submit">
<ul>
  {% for bank_req in user_banks %}
    <li>
      ID: {{ bank_req.id }}<br>
      Bank Name: {{ bank_req.bank_name }}<br>
      Bik: {{ bank_req.bik }}<br>
      Kor Score: {{ bank_req.kor_score }}<br>
      Swift: {{ bank_req.swift }}<br>
      Iban: {{ bank_req.iban }}<br>
      User ID: {{ bank_req.user_id }}<br>

      <!-- Радио-кнопка для Is Active -->
      <label for="is_active_{{ bank_req.id }}">Is Active:</label>
      <input type="radio" name="{{username}}" id="{{bank_req.id}}" value="{{ bank_req.id }}"
        {% if bank_req.is_active %}checked{% endif %}>

    </li>
  {% endfor %}
</ul>
</form>

      {% else %}
        u are not log in.. ;^(
        click here to <a href='/login'> login </a> and here to <a href='/register'>register</a>
      {% endif %}
  </body>
</html>
